[Unit]
Description=start MaidRobotSystem program
Requisite=NetworkManager.service
After=NetworkManager.service
Wants=network.target
Before=network.target network-online.target


[Service]
Type=forking
ExecStart=/opt/MaidRobotSystem/src/planetary_module/ros/script/service_WaistDownUnit.sh __MRS_CONFIG__
Restart=yes

[Install]
WantedBy=multi-user.target
